DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
JWT_SECRET=change-me-to-random-string
SERVER_PORT=8090
APP_ENV=development
GITHUB_REPOSITORY=Qulive-edu/ArchitectureCoursework